@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  place-items: center;
  justify-content: center;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
